body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.title {
  font-weight: bolder;
  font-size: 5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.padding {
  padding-block: 3rem;
}

.padding-top {
  padding-top: 1rem;
}


.company-links {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.company-links:hover {
  text-decoration: underline;
  color: red;
}

.max {
  width: max-content;
}

.form-padding {
  padding: 0.5rem;
}

.white-font {
  color: white;
}

#login-button {
  color: white;
}

.padding-top {
  padding-top: 2rem;
}

.padding-pic {
  padding-bottom: 1rem;
}
